aside {
    width: 15vw;
    height: 100vh;
    background-color: rgb(193, 189, 189);
}

.content_profile {
    width: 100%;
    height: 100%;
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
    height: 20%;
    width: 100%;
}

.profile_icon {
    width: 5vw;
    height: 9vh;
    border-radius: 50%;
    border: 1px solid black;
}

.profile_icon>img {
    width: 100%;
    height: 100%;
}

.profile_name {
    margin-left: 1vw;
}