/* budget data */

.budget {
    border: solid black 1px;
    height: 50%;
    background-color: white;
}

.budget_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    width: 100%;
    padding: 1%;
}

.budget_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.budget_info:nth-child(1) {
    grid-row: 1/2;
}

.budget_info:nth-child(2) {
    grid-row: 2/3;
}

.budget_info:nth-child(n+3) {
    grid-row: 1/3;
}

.budget_info:nth-child(-n + 2) {
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-right: 5%;
}

.budget_info:nth-child(3) {
    flex-direction: column;
}

.budget_info_content {
    border-radius: 5%;
    border: 1px solid black;
    box-shadow: 5px 8px 5px rgb(63, 62, 62);
    width: 70%;
    height: 80%;
    background-color: rgb(226, 226, 226);
}


/* data showup */

.data {
    background-color: azure;
}