* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
}

main { 
    background-color: rgb(42, 6, 76);
    width: 85vw;
    height: 100vh;  
}

aside {
    width: 15vw;
    height: 100vh;
    background-color: rgb(193, 189, 189);
}

